@import "colors"

$font-stack: Helvetica, sans-serif, Arial
$input-border-radius: 5px

a
  color: $text-color
  text-decoration: none

a:hover
  color: $link-color

.wrapper
  margin: 5px
  min-height: calc(100vh - 20px)
  display: flex
  flex-direction: column

body
  margin: 0
  padding: 0
  font-family: $font-stack
  background-color: $background-color
  color: $text-color

.title
  padding: 5px

header
  display: flex
  flex-direction: row
  align-items: center

  .title-wrapper
    flex: 5

  .search-box-wrapper
    flex: 1

    input
      padding: 5px
      border-radius: $input-border-radius
      border: 1px solid $border-color
      width: 10rem

.main-container
  display: flex

  .main-wrapper
    flex: 1

  .ad-space
    flex-basis: 150px

  .main-nav
    flex-shrink: 0
    position: sticky
    top: 0
    align-self: flex-start
    flex-basis: 150px
    display: flex

    ul
      display: flex
      padding: 0
      margin: 0 15px 0 10px
      width: auto

      li
        list-style: none
        margin: 0 0 5px 0
        padding: 0
        width: 100%

      li:hover
        background-color: white

      a
        display: block
        padding: 5px

.footer
  margin-top: auto
  margin-bottom: 10px
  text-align: center

  a
    display: block
    padding: 5px
    width: fit-content
    margin: 0 auto

  a:hover
    background-color: white

  .contact-us-wrapper
    width: auto

@media(min-width: 601px)
  .main-container
    flex-direction: row

  .main-nav
    flex-direction: column

    ul
      flex-direction: column

@media(max-width: 600px)
  .title
    font-size: 1.7em

  .main-container
    flex-direction: column

    .main-nav
      margin: 0 -5px 5px -5px
      width: calc(100% + 10px)
      max-height: 50px
      background-color: white
      border-bottom: 1px solid $border-color
      flex-direction: row

      ul
        flex-direction: row
        justify-content: space-evenly
        width: 100%
        margin: 5px 0 0 0

        li
          width: auto
          text-align: center
          margin: 0

        a
          white-space: nowrap
          padding: 5px

      a:hover
        background-color: $background-color