$font-stack: Helvetica, sans-serif
$background-color: #ececec
$text-color: #252e36
$link-color: #c2984a

.wrapper
  margin: 10px

.nav-container
  display: flex
  align-items: center
  position: relative

  .title
    text-align: left

  .menu
    padding: 25px
    position: absolute
    left: 50%
    transform: translateX(-50%)
    text-align: center

    a
      color: $link-color
      margin: 10px

.footer
  text-align: center
  margin: 25px

body
  font-family: $font-stack
  background-color: $background-color
  color: $text-color