@import "base"

.main-container
  display: grid
  grid-template-columns: repeat(3, auto)
  justify-content: center
  gap: 1.5rem
  flex: 1

.employee
  margin: 10px

  img
    display: block
    margin-bottom: 0.25rem
    width: 15rem
    height: 12rem
    object-fit: cover
    object-position: top
    border-radius: 10px

  h3
    margin: 0.25rem 0

  p
    margin: 0.25rem 0

  a
    color: $link-color