@import "base"

.contact-form
  width: 100%
  max-width: 600px
  box-sizing: border-box
  margin: 0 auto
  background-color: white
  padding: 1rem
  border-radius: 1rem
  flex: 1

  h2
    margin: 0 0 10px 0

.fields
  input
    padding: 5px
    border-radius: $input-border-radius
    border: 1px solid $border-color
    height: 1.5rem
    width: 100%
    max-width: 20rem
    margin: 0 0 5px 0

.employee-amount
  .radio
    margin: 0 0 0.5rem 0

  p
    margin: 0.5rem 0 0.5rem 0
    font-weight: bold

.question-textarea
  label
    font-weight: bold

  textarea
    border-radius: 10px
    padding: 5px
    border: 1px solid $border-color
    width: 100%
    margin-top: 0.5rem
    box-sizing: border-box
    resize: vertical

.buttons
  margin-top: 1rem

  .button
    margin: 0.5rem 0 0 0

.send-button
  margin-top: 2rem
  text-align: center

  input[type="submit"]
    appearance: none
    cursor: pointer
    padding: 0.5rem 1.5rem
    border: none
    border-radius: 5px
    background-color: $link-color
    color: white
    font-size: 1rem
    font-family: $font-stack

    &:hover
      filter: brightness(1.1)

    &:active
      filter: brightness(0.9)
